*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #171616;
}
header {
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu {
    list-style: none;
    display: flex;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-decoration: none;
    padding: 15px 20px;
    list-style: none;
    transition: color 1s ease, background-color 1s ease;
}

.menu a:hover {
    background-color: #eb0303;
    color: #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 20px;
}

.contenedorPrincipal {
    display: flex;
    justify-content: center;
}

.inicio {
    background: linear-gradient(to right, #ff0000 , #000 );
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.contenedorI{
    display: flex;
    align-items: center;
    text-align: justify;
    gap: 20px;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.imgInteractiva {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    transition: transform 0.5s ease;
}   

.imgInteractiva:hover {
    transform: scale(1.05);
}

.pilotos{
    margin-top: 50px;
    margin-bottom: 50px;
}
.ConPilotos{
    
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto ;
    color: #fff;
    background-color: #000;
}

#max{
    background-color: rgb(11, 11, 157);
    transition: transform 0.5s ease;
}

#max:hover {
    transform: rotate(1deg);
}

#checo{
    background-color: rgb(11, 11, 157);
    transition: transform 0.5s ease;
}
#checo:hover {
    transform: rotate(1deg);
}
#alonso{
    background-color: rgb(24, 142, 6);
    transition: transform 0.5s ease;
}

#alonso:hover {
    transform: rotate(-1deg);
}

#leclerc{
    background-color: rgb(184, 8, 8);
    transition: transform 0.5s ease;
}

#leclerc:hover {
    transform: rotate(1deg);
}

.imgPilotos{
    transition: transform 0.5s ease 0.5s ease;
}

.imgPilotos:hover {
    transform: scale(1.05);
}

