*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: #fff;
    gap : 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #171616;
}
header {
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

@keyframes Titulo {
    0% { opacity: 0; transform: scale(0.8) translateY(20px); }
    100% { opacity: 1; transform: scale(1) translateY(0); }
}

#tituloR {
    font-size: 3rem;
    margin-bottom: 15px;
    animation: Titulo 1.2s ease-out;
}
h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu {
    list-style: none;
    display: flex;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-decoration: none;
    padding: 15px 20px;
    list-style: none;
    transition: color 1s ease, background-color 1s ease;
}

.menu a:hover {
    background-color: #eb0303;
    color: #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 20px;
}

.contenedorPrincipal {
    display: flex;
    justify-content: center;
}

.inicio {
    background: linear-gradient(to right, #ff0000 , #000 );
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.contenedorI{
    display: flex;
    align-items: center;
    text-align: justify;
    gap: 20px;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.imgInteractiva {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    transition: transform 0.5s ease;
}   

.imgInteractiva:hover {
    transform: scale(1.05);
}

.pilotos{
    margin-top: 50px;
    margin-bottom: 50px;
}
.ConPilotos{
    
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto ;
    color: #fff;
    
}

#max{
    background-color: #000B8D;
    transition: transform 0.5s ease;
}

#max:hover {
    transform: rotate(1deg);
}

#checo{
    background-color: #AAAADD;
    transition: transform 0.5s ease;
}
#checo:hover {
    transform: rotate(1deg);
}
#alonso{
    background-color: #229971;
    transition: transform 0.5s ease;
}

#alonso:hover {
    transform: rotate(1deg);
}

#leclerc{
    background-color: #E80020;
    transition: transform 0.5s ease;
}

#leclerc:hover {
    transform: rotate(1deg);
}

.imgPilotos{
    transition: transform 0.5s ease 0.5s ease;
}

.imgPilotos:hover {
    transform: scale(1.05);
}

.equipos{
    margin-top: 50px;
    margin-bottom: 50px;
}
.ConEquipos{
    
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto ;
    color: #fff;
    
}

#redbull{
    background-color: #000B8D;
    transition: transform 0.5s ease;
}

#redbull:hover {
    transform: rotate(1deg);
}

#cadillac{
    background-color: #AAAADD;
    transition: transform 0.5s ease;
}
#cadillac:hover {
    transform: rotate(1deg);
}
#aston{
    background-color: #229971;
    transition: transform 0.5s ease;
}

#aston:hover {
    transform: rotate(-1deg);
}

#ferrari{
    background-color: #E80020;
    transition: transform 0.5s ease;
}

#ferrari:hover {
    transform: rotate(1deg);
}

.imgEquipos{
    transition: transform 0.5s ease 0.5s ease;
}

.imgEquipos:hover {
    transform: scale(1.05);
}

.newsletter{
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    border: #000 solid 1px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.formulario label, input, button {
    display: block;
    margin-top: 15px;
    padding: 20px;
}

.formulario input, button {
    margin: 0 auto;
    margin-top: 20px;
}

.formulario input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    transition: border 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.formulario input:hover {
    border: 3px solid #eb0303;
    background-color: #000;
    color: #fff;
}

.formulario button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #eb0303;
}



footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.logo {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 200px;   
  width: 200px;    
  margin: 0 auto;  
  background-color: rgb(41, 40, 40); 
  margin-top: 20px;   
}
.logo img {
  height: 140px;
  width: 140px;
}




